* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #eceff4;
}
/*Header*/
#Header{
    background-color: white;
    padding: 10px;
    height: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#TextHeader{
    font-size: 30px;
    font-weight: bold;

}

#ComponentsHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ComponentsHeader > input{
    height: 25px;
    width: 200px;
}

#ComponentsHeader > :not(div){
    margin-left: 10px;
}

#ComponentsHeader > img{
    cursor: pointer;
    width: 25px;
    height: 25px;
    transition:0.3s;
}

#ComponentsHeader > img.Checked{
    /*width: 23px;
    height: 23px;*/
    transition: 0.3s;
    padding: 2px;
    background-color: #a6bdc6;
    border: 1px solid #215c72;
    border-radius: 5px;
}

#BtnCreate{
    cursor: pointer;
    margin-left: 10px;
    padding: 5px;
    font-size: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70px;
    height: 25px;
    background-color: #4c396f;
    border: 1px solid #6f5f8b;
    transition: 0.4s;
}

#BtnCreate:hover{
    color: #4c396f;
    background-color: white;
    border: 1px solid #4c396f;
}
/*Informacije o planetama karticni prikaz*/
#WrapperGridView{
   /* background-color: #eceff4;*/
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.Card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 250px;
    height: auto;
    /*#f2f3f4*/
    border: 1px solid  #dbdbdc;
    border-radius: 5px;
    margin: 10px;
    transition: 0.2s;
}
.Card:hover{
    transform: scale(1.05);
}
.WrapperBasicData{
    display: flex;
    flex-direction: column;
}
.WrapperBasicData > div:first-of-type,.WrapperBasicData > div:nth-child(2),.WrapperBasicData > div:last-of-type{
    padding: 5px;
    display: flex;
    justify-content: center;
}

.WrapperBasicData > div:nth-child(2){
    font-size: 30px;
    text-align: center;
    /*font-weight: bold;*/
}
.WrapperBasicData > div:last-of-type{
    font-size: 10px;
    color: gray;
    line-height: 1.6;
    text-align: justify;
}
.WrapperOtherData{
    margin: 10px 0;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.FirstColum{
    display: flex;
    flex-direction: column;
}

.FirstColum > div:first-of-type,.SecondColum > div:first-of-type{
    margin-bottom: 10px;

}

.FirstColum > div > div:last-of-type,.SecondColum > div > div:last-of-type{
  font-size: 10px;
  color: grey;
}
/*Informacije o planetama Tabelarni prikaz*/
#WrapperTabelView{
    /*background-color: #eceff4;*/
    display: flex;
    padding: 20px;
    padding: 10px;;
}
th{
    height: 50px;
    font-weight: normal;
    font-size: 13px;
}
tr>th:first-of-type{
    width: 500px;
    cursor: pointer;
}

tr>th:first-of-type > img{
    transform: rotate(90deg);
}

table{
    border-collapse: collapse;
    background-color: white;
}
tr{
    border-bottom: 1px solid #dbdbdc;
    border-top: 1px solid  #dbdbdc;
    transition: 0.3s;
}

tr:hover:not(tr:first-of-type){
 transform: scale(1.01);

}

td:not(td:first-of-type){
    text-align: center;
}
.WrapperBasicDataTableV{
    display: flex;
    overflow: hidden;
}
.WrapperBasicDataTableV>div:first-of-type{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.WrapperBasicDataTableV>div:last-of-type{
    display: flex;
    flex-direction: column;
}
.WrapperBasicDataTableV>div:last-of-type>div:first-of-type{
    font-size: 20px;
}
.WrapperBasicDataTableV>div:last-of-type>div:last-of-type{
    font-size: 10px;
    color: grey;
}
/*Klasa za skrivanje vidljivosti*/
.Hide{
    display: none !important;
}
/*Modalni prozor za Create*/
#ModalWindow{
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #80808085;
    width: 100%;
    height: 100%;
}

#CreateWindow{
    width: 460px;
    height: 460px;
    background-color: white;
}

#Tape{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

#Tape > span{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
#Inputs{
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}
#Inputs input{
    height: 30px;
}
#IPhoto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Inputs  span{
    color: gray;
    font-size: 12px;
}
#IName,#IDesc,#IFirstColum,#ISecondColum{
    display: flex;
    flex-direction: column;
}
#IFirstColum,#ISecondColum{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
}
#IFirstColum{
    padding-right: 10px;
}
#ISecondColum{
    padding-left: 10px;
}
#IFirstColum>div:first-of-type,#IFirstColum > div:last-of-type,#ISecondColum>div:first-of-type,#ISecondColum > div:last-of-type{
    display: flex;
    flex-direction: column;
}
#IOther{
    justify-content: space-between;
    display: flex;
}

textarea{
    resize: none;
}

#WrapperBtns{
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#BtnCre,#BtnCanc,#BtnBrowse{
    cursor: pointer;
    margin-left: 10px;
    padding: 5px;
    font-size: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70px;
    height: 25px;
    background-color: #4c396f;
    border: 1px solid #6f5f8b;
    transition: 0.3s;
}

#BtnCre:hover{
    color: #4c396f;
    background-color:white;
    border: 1px solid #4c396f;
    
}

#BtnCanc:hover{
   font-size: 10.7px;
}

#BtnBrowse{
    background-color: gray;
    color: white;
    border-color: #6f6e6e;
    transition: 0.3s;
}

#BtnBrowse:hover{
    background-color: white;
    color: gray;
}
#BtnCanc{
    font-weight: bold;
    color: gray;
    background-color: white;
    border: none;
}
/*Klasa za prikazivanje greske stavljanjem okvira*/
.Error{
    border: 1px solid red !important;
}
/*Responzivnost*/
@media screen and (max-width: 550px){
    /*Header*/
    #Header{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #ComponentsHeader > input{
        width: 150px;
    }
    #BtnCreate{
        width: 50px;
        margin-left: 5px;
    }
    #ComponentsHeader > :not(div) {
        margin-left: 5px;
    }
    /*Informacije o planetama Tabelarni prikaz*/
    .WrapperBasicDataTableV{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .WrapperBasicDataTableV>div:first-of-type{
        padding: 5px;
    }
    .WrapperBasicDataTableV img{
        width: 40px;
        height: 40px;
    }
    .WrapperBasicDataTableV>div:last-of-type>div:first-of-type{
        text-align: center;
        font-size: 15px;
    }
    tr>th:first-of-type{
        width: auto;
    }
    .WrapperBasicDataTableV>div:last-of-type>div:last-of-type{
        display: none;
    }
    /*Modalni prozor za Create*/
    #CreateWindow {
        width: 260px;
        height: 490px;
    }
    #IOther{
        flex-direction: column;
    }
    #IFirstColum,#ISecondColum{
        padding: 0;
        width: 100%;
    }
    textarea{
        height: 130px;
    }
}
