* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #eceff4;
}
/*Header*/
#Header{
    background-color: white;
    padding: 10px;
    min-height: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#TextPlanetNameHeader{
    font-size: 30px;
    font-weight: bold;

}
#ComponentsHeader{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#BtnEdit,#BtnDelete{
    margin-left: 10px;
    padding: 5px;
    font-size: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70px;
    height: 25px;
    transition: 0.3s;
    cursor: pointer;
}
#BtnEdit{
    background-color: #125169;
    border: 1px solid #c1d2d8;
}

#BtnDelete{
    background-color: #011f49;
    border: 1px solid #73849b;
}

#BtnEdit:hover{
    color: #125169;
    background-color: white;
    border: 1px solid #125169;
}

#BtnDelete:hover{ 
    color: #011f49;
    background-color: white;
    border: 1px solid #011f49;
}
/*Informacije o planetama*/
#WraperPlanetInfo{
    display: flex;
    min-height: 230px;
    margin: 10px;  
}

#BasePlanetData{
    width: 60%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
}

#BasePlanetData > div:first-of-type > img{
    transition: 1s;
}

#BasePlanetData > div:first-of-type > img:hover{
    transform: rotate(180deg) scale(1.05);
}

#BasePlanetData > div:last-of-type{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

#BasePlanetData > div:last-of-type > div:last-of-type{
    text-align: justify;
}

#BasePlanetData > div:last-of-type > div:first-of-type{
    font-size: 30px;
    font-weight: bold;
  }

#OtherPlanetData{
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

#FirstColum,#SecondColum{
      height: 100%;
      width: 60%;
      display: flex;
      flex-direction: column;
  }

#SecondColum{
    width: 40%;
  }

#FirstColum > div:first-of-type,#SecondColum > div:first-of-type{
      margin: 0 10px 10px 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 50%;
      background-color: white;
  }

#FirstColum > div:last-of-type, #SecondColum > div:last-of-type{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color: white;
}

#SecondColum > div:first-of-type, #SecondColum > div:last-of-type{
    margin-left: 0;
    margin-right: 0;
}

#FirstColum > div:first-of-type > span:last-of-type,#SecondColum > div:first-of-type > span:last-of-type, #FirstColum > div:last-of-type > span:last-of-type, #SecondColum > div:last-of-type > span:last-of-type {
    margin-top: 5px;
    color: grey;;
    font-size: 10px;
}

#BasePlanetData,#FirstColum > div:first-of-type,#SecondColum > div:first-of-type, #FirstColum > div:last-of-type, #SecondColum > div:last-of-type {

    border: 1px solid #dbdbdc;
    border-radius: 5px;
}
/*Klasa za skrivanje vidljivosti*/
.Hide{
    display: none !important;
}
/*Modalni prozor za edit i potvrde deleta/edita*/
#ModalWindow{
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #80808085;
    width: 100%;
    height: 100%;
}

#EditeWindow{
    width: 460px;
    height: 460px;
    background-color: white;
}

#Tape{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

#Tape > span{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

#Inputs{
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}

#Inputs input{
    height: 30px;
}

#IPhoto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Inputs  span{
    color: gray;
    font-size: 12px;
}

#IName,#IDesc,#IFirstColum,#ISecondColum{
    display: flex;
    flex-direction: column;
}

#IFirstColum,#ISecondColum{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
}

#IFirstColum{
    padding-right: 10px;
}

#ISecondColum{
    padding-left: 10px;
}

#IFirstColum>div:first-of-type,#IFirstColum > div:last-of-type,#ISecondColum>div:first-of-type,#ISecondColum > div:last-of-type{
    display: flex;
    flex-direction: column;
}

#IOther{
    justify-content: space-between;
    display: flex;
}

textarea{
    resize: none;
}

#WrapperBtns{
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.BtnConfirm,.BtnCanc,#BtnBrowse{
    margin-left: 10px;
    padding: 5px;
    font-size: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70px;
    height: 25px;
    background-color: #125169;
    border: 1px solid #376d80;    
    transition: 0.3s;
    cursor: pointer;
}

.BtnConfirm:hover{
    color: #125169;
    background-color: white;
    border: 1px solid #376d80;   
}

#BtnBrowse{
    background-color: gray;
    color: white;
    border-color: #6f6e6e;
}

#BtnBrowse:hover{
    background-color: white;
    color: gray;
    border-color: #6f6e6e;
}

.BtnCanc{
    font-weight: bold;
    color: gray;
    background-color: white;
    border: none;
}

.BtnCanc:hover{
    font-size: 10.7px;
}

#ConfirmationModalWindow{
    min-height: 200px;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
}

#ConfirmationModalWindow > span:first-of-type{
    font-weight: bold;
    font-size: 18px;
}

#ConfirmationModalWindow > span:last-of-type{
    font-size: 13px;
}

#ConfModalWinBtnWraper{
    display: flex;
}
/*Klasa za prikazivanje greske stavljanjem okvira*/
.Error{
    border: 1px solid red !important;
}
/*Responzivnost*/
@media screen and (max-width: 550px){
    /*Header*/
    #Header{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #ComponentsHeader{
        margin-top: 5px;
    }
    /*Informacije o planetama*/
    #WraperPlanetInfo{
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #BasePlanetData{
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #BasePlanetData > div:last-of-type > div:first-of-type{
        margin-bottom: 5px;
    }

    #BasePlanetData img {
        width: 120px;
        height: 120px;

    }

    #BasePlanetData > div:last-of-type{
        align-items: center;
        margin-left: 0;
    }

    #OtherPlanetData{
        width: 100%;
    }
    
    #FirstColum > div:first-of-type, #SecondColum > div:first-of-type{
        margin: 10px 10px 10px 0;
    }

    #FirstColum > div:last-of-type, #SecondColum > div:last-of-type{
        margin:0 10px 0 0;
    }

    #SecondColum > div:first-of-type, #SecondColum > div:last-of-type{
        margin-left: 0;
        margin-right: 0;
    }

    #FirstColum, #SecondColum{
        width: 50%;
    }

    #FirstColum>div, #SecondColum > div{
        height: auto !important;
        padding: 20px;
    }
    /*Modalni prozor*/
    #EditeWindow {
        width: 260px;
        height: 490px;
    }
    #IOther{
        flex-direction: column;
    }

    #IFirstColum,#ISecondColum{
        padding: 0;
        width: 100%;
    }

    textarea{
        height: 130px;
    }

    #ConfirmationModalWindow{
        min-height: 165px;
        width: 245px;
    }
}